<div class="main-panel">
  <div class="content-wrapper">
    <div class="col-lg-9 ">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Example split danger button -->

            <div class="btn-group ">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Le produit
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

            <div class="btn-group ">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Le plan de controle
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

            <div class="btn-group ">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ligne de controle
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>

            <p-multiSelect
              [options]="analyses"
              [(ngModel)]="selectedAnalyses"
              optionLabel="label"
              placeholder="Select an Option">
            </p-multiSelect>




            <button class="btn btn-success"  type="submit" >Valide</button>
          </div>


          <div class="table-responsive pt-3">
            <h4 class="card-title">Liste</h4>
            <table class="table table-bordered">

              <thead>
              <tr >
                <th>#</th>
                <th>Produit</th>
                <th>Plan de controle</th>
                <th>Ligne d'analyse</th>
                <th>Combo</th>


              </tr>
              </thead>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
