.logo {
  width: 125px; 
  height: auto;
}

.header {
    position: relative;
  }

.sidebar-toggle {
    position: fixed;
    top: 10px;
    right: 10px; 
    background-color: white; 
    color: #020258; 
    font-size: 24px; 
    cursor: pointer;
    z-index: 1000; 
    padding: 10px;
    border: none;
}
  
.sidebar {
  position: fixed;
  top: 100px; 
  right: -250px; 
  width: 250px;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px; 
  color: #020258;
  font-size: large;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin: 10px 0; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  background-color: #020258; 
  transition: background-color 0.3s ease;
}

.sidebar ul li a {
  text-decoration: none; 
  color: white;
}
  
.sidebar-visible {
    right: 0; 
}
  