<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Parametrage</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" routerLink="/products">Produit</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink="/planControl">Plan de controle</a></li>
  
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" routerLink="/ligneControl" aria-expanded="false" aria-controls="form-elements">
          <i class="icon-columns menu-icon"></i>
          <span class="menu-title">Ligne de controle</span>
          <i class="menu-arrow"></i>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" routerLink="/analysePage" aria-expanded="false" aria-controls="charts">
          <i class="icon-bar-graph menu-icon"></i>
          <span class="menu-title">Analyse</span>
          <i class="menu-arrow"></i>
        </a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" routerLink="/analyseDeLigne" aria-expanded="false" aria-controls="tables">
          <i class="icon-grid-2 menu-icon"></i>
          <span class="menu-title">Analayse de ligne</span>
          <i class="menu-arrow"></i>
        </a>
      </li>
    </ul>
  </nav>
  
